.app-heaer {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    border: 1px solid red;
    text-align: center;
}

.app-main {
    padding-bottom: 30px;
    border: 1px solid blue;
    margin: 35px 0 5px 200px;
    width: 100%;
    height: 100%;
}

.app-footer {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: 1px solid green;
    margin: 0 0 0 200px;
    text-align: center;
}

.app-navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 35px;
    border: 1px solid black;
    margin: 0 0 0 5px
}
